<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ARK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/components">Components</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/sections" id="MenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sections
                </a>
                <div class="dropdown-menu" aria-labelledby="MenuLink1">
                    <a class="dropdown-item" href="/headers">Headers</a>
                    <a class="dropdown-item" href="/features">Features</a>
                    <a class="dropdown-item" href="/Team">Team</a>
                    <a class="dropdown-item" href="/Projects">Projects</a>
                    <a class="dropdown-item" href="/Contacts">Contacts</a>
                    <a class="dropdown-item" href="/special-features">Special Features</a>
                    <a class="dropdown-item" href="/search-results">Search Results</a>
                    <a class="dropdown-item" href="/admin-elements">Admin Elements</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="MenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Examples
                </a>
                <div class="dropdown-menu" aria-labelledby="MenuLink2">
                    <a class="dropdown-item" href="/about-us">About Us</a>
                    <a class="dropdown-item" href="/products">Products</a>
                    <a class="dropdown-item" href="/contact-us">Contact Us</a>
                    <a class="dropdown-item" href="/discover">Discover</a>
                    <a class="dropdown-item" href="/landing">Landing</a>
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/register">Register</a>
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/search">Search</a>
                </div>
            </li>
        </ul>
    </div>
</nav>