<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/">ARK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/components">Components</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sections
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/headers">Headers</a>
                    <a class="dropdown-item" href="#">Features</a>
                    <a class="dropdown-item" href="#">Team</a>
                    <a class="dropdown-item" href="#">Projects</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                    <a class="dropdown-item" href="#">Special Features</a>
                    <a class="dropdown-item" href="#">Search Results</a>
                    <a class="dropdown-item" href="#">Admin Elements</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Examples
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">About Us</a>
                    <a class="dropdown-item" href="#">Products</a>
                    <a class="dropdown-item" href="#">Contact Us</a>
                    <a class="dropdown-item" href="#">Discover</a>
                    <a class="dropdown-item" href="#">Landing</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Register</a>
                    <a class="dropdown-item" href="#">Login</a>
                    <a class="dropdown-item" href="#">Search</a>
                </div>
            </li>
        </ul>
        <button class="btn btn-outline-primary">Style Options</button>
    </div>
</nav>
