@{ViewBag.Title = "Headers and Navigation Panels"; }

@Html.Partial("Navigation-default")

<div class="page-content d-flex align-items-stretch"> 
   @Html.Partial("sidebar")

    <div class="container-fluid p-4">
    <div class="row">
        <div class="col">
           <h1 class="mt font-weight-normal">Headers & Navigation Panels</h1>
        </div>
    </div>
    <h3 class="mt-4">Classic Designs</h3>
    <div class="row lead">
        <a href="/white-bg"><div class="col">White BG</div></a>
        <a href="/black-bg"><div class="col">Dark BG</div></a>
        <a href="/primary-bg"><div class="col">Primary BG</div></a>
        <a href="/gradient-bg"><div class="col">Gradient BG</div></a>
        <a href="/transparent-bg"><div class="col">Transparent BG</div></a>
        <a href="/semi-transparent-white-bg"><div class="col">Semi Transparent White BG</div></a>
        <a href="/semi-transparent-black-bg"><div class="col">Semi Transparent Black BG</div></a>
    </div>

</div>
</div>



