@{ ViewBag.Title = "Index"; } @Html.Partial("navigation-default") @Html.Partial("promo-default")


<div class="container-fluid clearfix">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <main class="col-md-9 float-right col px-5 pl-md-2 pt-2 main">
            <section>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 border-left">
                            <h2>Bootstrap 4 + ARK</h2>
                            <p>Build responsive, mobile-first projects on the web using ARK and the world's most popular front-end CSS library - Bootstrap V4.</p>
                            <p>Bootstrap 4 is the world's most popular framework for building responsive, mobile-first sites.</p>
                            <p>ARK is a UI KIT to integrate into Bootstrap 4</p>

                           <a href="/start"> <button class="btn btn-outline-primary">Get started</button></a>
                            <button class="btn btn-outline-primary">Github</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>



