@{ViewBag.Title = "Headers and Navigation Panels"; }

@Html.Partial("Navigation-default")

<div class="page-content d-flex align-items-stretch"> 
   @Html.Partial("sidebar")
    <div class="container-fluid p-4">
        <h1 class="mt font-weight-normal">Bootstrap 4 Layout</h1>
        <h2 class="mt font-weight-normal">Responsive Breakpoints</h2>
    </div> 
</div>




