@{
    ViewBag.Title = "Promo Blocks";
    ViewBag.PageBack = "Features";
}


@Html.Partial("navigation-default")


<div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
      <li class="breadcrumb-item"><a href="/features">@ViewBag.PageBack</a></li>
     <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
</div>

<div class="container-fluid mt-3">
    <header class="parallax-window py-5" data-parallax="scroll" data-image-src="/content/images/1.jpg">
        <section class="py-5 parallax-section parallax">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1 class="display-1 font-weight-bold text-white">Promo Block 01</h1>
                        <p class="lead text-white">Our branding goes here</p>
                        <button class="btn btn-outline-secondary btn-round  text-white text-uppercase">Discover More</button>
                        <button class="btn btn-primary btn-round  text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>
<div class="container-fluid mt-3 text-center">
    <header class="parallax-window py-5" data-parallax="scroll" data-image-src="/content/images/2.jpg">
        <section class="py-5 parallax-section parallax">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-3 text-uppercase font-weight-bold">Promo Block 02</h1>
                        <p class="lead">Our branding goes here</p>
                        <button class="btn btn-outline-secondary btn-round  text-white text-uppercase">Discover More</button>
                        <button class="btn btn-primary btn-round  text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>

<div class="container-fluid mt-3 text-center">
    <header class="parallax-window py-5" data-parallax="scroll" data-image-src="/content/images/3.jpg">
        <section class="py-5 parallax-section parallax">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12 mx-auto">
                       <h3 class="text-uppercase text-white font-weight-light">Hello! We are ARK.</h3>
                        <h1 class="display-3 text-uppercase text-white font-weight-bold border-xlarge p-2 border-light">Promo Block 03</h1>
                        <p class="lead text-white">Our branding goes title goes here</p>

                    </div>
                </div>
            </div>
        </section>
    </header>
</div>

<div class="container-fluid mt-5">
    <header class="parallax-window py-5" data-parallax="scroll" data-image-src="/content/images/1.jpg">
        <section class="py-5 parallax-section parallax">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h1 class="display-4 font-weight-light text-white"><span class="text-highlight">Allow for easier</span>
                        </h1>
                        <h1 class="display-4 font-weight-light text-white"><span class="text-highlight">Standards-Compliant</span> </h1>
                        <h1 class="display-4 font-weight-light text-white"><span class="text-highlight">Web Design</span></h1>
                        <p class="lead text-white">Through the years we have refined our trade and we can offer meaningful impact in just about any industry.</p>
                        <button class="btn btn-outline-secondary btn-round  text-white text-uppercase">Discover More</button>
                        <button class="btn btn-primary btn-round  text-uppercase">Contact Us</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>



