@{ ViewBag.Title = "ARK V4.0"; }

<div class="parallax-window"></div>

<header class="parallax-window py-5" data-parallax="scroll" data-image-src="/content/images/2.jpg">
    <section class="py-5 parallax-section parallax">
        <div class="container">
           <div class="row">
                <div class="col-12 col-sm-6 text-white">
                    <h1 class="display-1 font-weight-light txt anim-text-flow">@ViewBag.Title</h1>
                    <h4 class="font-weight-light">The new way to design your website.</h4>
                </div>
            </div>
        </div>
    </section>
</header>






